@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="section">
    <div class="columns is-multiline">
        @{
            foreach (var product in Model.Products)
            {
                <div class="column is-3-desktop is-4-tablet is-6-mobile">
                    <a asp-page="Product" asp-route-name="@product.Name.Replace(" ", "-")">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="~/images/product-image.jpg" alt="Product image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <p class="title is-size-5"><span class="has-text-primary">@product.Name</span> - @product.Value</p>
                                <p class="subtitle">@product.Description</p>

                                @{
                                    var cssClass = "";
                                    var message = "";

                                    if (product.StockCount == 0)
                                    {
                                        cssClass = "is-danger";
                                        message = "Out of Stock";
                                    }
                                    else if (product.StockCount <= 10)
                                    {
                                        cssClass = "is-warning";
                                        message = "Low on Stock";
                                    }
                                }

                                @{
                                    if (product.StockCount <= 10)
                                    {
                                        <div class="notification is-paddingless has-text-centered @cssClass">
                                            @message
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </a>
                </div>
            }
        }
    </div>
</div>