@page "{name}"
@model ProductModel

<div>
    <p>@Model.Product.Name</p>
    <p>@Model.Product.Description</p>
    <p>@Model.Product.Value</p>
    <div>
        <form method="post">
            <label>Stock</label>
            <select asp-for="CartDto.StockId">
                @foreach (var stock in Model.Product.Stocks)
                {
                    <option value="@stock.Id">@stock.Description</option>
                }
            </select>
            <label>Quantity</label>
            <input asp-for="CartDto.Quantity">
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
<vc:cart view="Small"></vc:cart>