@page "{name}"
@model ProductModel

<div class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-6">
                    <figure class="image">
                        <img src="~/images/product-image.jpg" alt="Product image"/>
                    </figure>
                </div>
                <div class="column is-6">
                    <section class="content">
                        <p class="title has-text-primary">@Model.Product.Name</p>
                        <p class="subtitle">@Model.Product.Description</p>

                        <p>
                            Proin tempor ex sit amet odio semper, ut tempor lectus congue. Nunc commodo, justo at ultricies tincidunt, velit libero lobortis tellus, ut vehicula mi odio sed turpis. Aliquam erat nisi, aliquam a quam at, sodales sollicitudin dolor. Duis mauris eros, sodales nec lorem quis, maximus vehicula nibh. Fusce ac dolor sagittis, mattis dolor non, sollicitudin tellus. Nam porta nunc a nisl cursus, nec congue libero imperdiet. In felis velit, pulvinar non elit ut, porttitor dictum risus. In at risus metus. Nunc in mollis sem, sed pharetra quam. Pellentesque ut felis feugiat, tristique massa vel, commodo augue. Morbi tempor mollis sapien, ac condimentum elit gravida vel. Ut imperdiet, est sed laoreet faucibus, nulla ipsum posuere dui, sit amet congue odio risus ut massa.
                        </p>

                        <footer>
                            <form method="post">
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Size</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field is-narrow">
                                            <div class="control">
                                                <div class="select is-fullwidth">
                                                    <select asp-for="CartDto.StockId" onchange="toggleStock(event)">
                                                        @foreach (var stock in Model.Product.Stocks)
                                                        {
                                                            var disabled = stock.Quantity <= 0;

                                                            <option value="@stock.Id" disabled="@disabled">@stock.Description</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Quantity</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field is-narrow">
                                            <div class="control">
                                                <input class="input" asp-for="CartDto.Quantity" value="1">
                                            </div>
                                            @foreach (var stock in Model.Product.Stocks)
                                            {
                                                if (stock.Quantity <= 10)
                                                {
                                                    <p class="help is-danger is-hidden low-stock" id="low-stock-@stock.Id">
                                                        @{
                                                            var outOfStock = stock.Quantity == 0 ? "Out of Stock" : $"{stock.Quantity} left";
                                                        }
                                                        @outOfStock
                                                    </p>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>

                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                    </div>
                                    <div class="field-body">
                                        <div class="field is-narrow">
                                            <div class="control">
                                                <button class="button is-success" type="submit">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </footer>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const toggleStock = function (event) {
        let stockToHide = document.querySelectorAll('.low-stock');
                               
        stockToHide.forEach(el => {
           el.classList.add('is-hidden');
        });
        
        showLowStock(event.target.value);
    };
    
    const showLowStock = function (id) {
        let stockToShow = document.getElementById(`low-stock-${id}`);
        
        if (stockToShow !== null && stockToShow !== undefined) {
            stockToShow.classList.remove('is-hidden');
        }
    };
    
    showLowStock(document.getElementById('CartDto_StockId').value);
</script>